{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <section id="carousel" >
        {% placeholder carousel %}
    </section>

    <section id="feature" class="fmsb-services" >
            <div class="container">
                <div class="center wow fadeInDown">
                    {% placeholder services-head %}
                </div>

                <div class="row">
                    <div class="features">
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_1 %}
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_2 %}
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_3 %}
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_4 %}
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_5 %}
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                {% placeholder service_6 %}
                            </div>
                        </div><!--/.col-md-4-->
                    </div><!--/.services-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/#feature-->

    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form id="join-form" action="/filie-se/"
                          class="form-inline center wow fadeInDown">
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="join-email-input"
                                   data-toggle="tooltip" data-placement="top"
                                   name="email"
                                   title="Inicie seu cadastro aqui preenchendo seu e-mail!"
                                   placeholder="<insira seu e-mail aqui>">
                            {% addtoblock "js" %}
                                <script>
                                    $(function () {
                                        $('[data-toggle="tooltip"]').tooltip()
                                    })
                                    $(document).ready(function() {
                                        $('#join-form').formValidation({
                                            locale: 'pt_BR',
                                            framework: 'bootstrap',
                                            icon: {
                                                valid: 'glyphicon glyphicon-ok',
                                                invalid: 'glyphicon glyphicon-remove',
                                                validating: 'glyphicon glyphicon-refresh'
                                            },
                                            fields: {
                                                email: {
                                                    validators: {
                                                        notEmpty: {
                                                            message: 'O endereço de e-mail é obrigatório'
                                                        },
                                                        emailAddress: {
                                                            message: 'Este e-mail parece não ser válido.'
                                                        }
                                                    }
                                                },
                                            }
                                        });
                                    });
                                </script>
                            {% endaddtoblock %}
                        </div>
                        <button type="submit" class="btn btn-success" disabled="disabled">
                            <i class="fa fa-check-square-o"></i>  &nbsp; Filie-se
                        </button>
                    </form>
                </div>
            </div>

        </div><!--/.container-->
    </section><!--/#join-->


    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                {% placeholder partners %}
            </div>

            <div class="partners">
                <ul>
                    <li>
                        <a href="#">
                        <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"
                             src="{% static "images/partners/partner1.png" %}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms"
                                 src="{% static "images/partners/partner2.png" %}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms"
                                 src="{% static "images/partners/partner3.png" %}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms"
                             src="{% static "images/partners/partner4.png" %}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms"
                                src="{% static "images/partners/partner5.png" %}">
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->



{% endblock content %}
